In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [27]:
tickers = ["TCS.BO","RELIANCE.BO","^BSESN"]
data = yf.download(tickers, start = '2014-01-01', end = '2023-12-31')["Adj Close"]

[*********************100%%**********************]  3 of 3 completed

In [28]:
data

            RELIANCE.BO       TCS.BO        ^BSESN
Date
2014-01-01   408.773895   858.149658  21140.480469
2014-01-02   402.633270   861.576294  20888.330078
2014-01-03   397.872650   885.363953  20851.330078
2014-01-06   393.226959   892.376892  20787.300781
2014-01-07   387.362335   879.865173  20693.240234
...                 ...          ...           ...
2023-12-22  2564.699951  3825.300049  71106.960938
2023-12-26  2577.500000  3794.600098  71336.796875
2023-12-27  2586.350098  3810.800049  72038.429688
2023-12-28  2605.800049  3801.050049  72410.382812
2023-12-29  2584.850098  3794.949951  72240.257812

[2463 rows x 3 columns]

In [29]:
security_returns = np.log(data/data.shift(1))
security_returns

            RELIANCE.BO    TCS.BO    ^BSESN
Date
2014-01-01          NaN       NaN       NaN
2014-01-02    -0.015136  0.003985 -0.011999
2014-01-03    -0.011894  0.027235 -0.001773
2014-01-06    -0.011745  0.007890 -0.003075
2014-01-07    -0.015026 -0.014120 -0.004535
...                 ...       ...       ...
2023-12-22     0.000975  0.009416  0.003407
2023-12-26     0.004978 -0.008058  0.003227
2023-12-27     0.003428  0.004260  0.009787
2023-12-28     0.007492 -0.002562  0.005150
2023-12-29    -0.008072 -0.001606 -0.002352

[2463 rows x 3 columns]

In [30]:
cov = security_returns.cov() * 250
cov

             RELIANCE.BO    TCS.BO    ^BSESN
RELIANCE.BO     0.076715  0.016142  0.030199
TCS.BO          0.016142  0.056622  0.018331
^BSESN          0.030199  0.018331  0.027782

In [37]:
cov_market = cov.iloc[1,2]
cov_market

0.018331351201196854

In [38]:
cov_market_1 = cov.iloc[0,2]
cov_market_1

0.030198873118650733

In [39]:
market_var = security_returns['^BSESN'].var() * 250
market_var

0.027781964591972397

# BETA

In [40]:
TCS_Beta = cov_market/market_var
TCS_Beta

0.6598291902831702

In [43]:
RELIANCE_Beta = cov_market_1/market_var
RELIANCE_Beta

1.0869955945223795

# CAPM

In [44]:
# Risk free rate in India is 7.365% (10 year govt bond yield) Equity risk premium in India is 9.73%

TCS_return = 0.07365 + TCS_Beta * 0.0973
RELIANCE_return = 0.07365 + RELIANCE_Beta * 0.0973

In [46]:
TCS_return

0.13785138021455245

In [48]:
RELIANCE_return

0.17941467134702752

# SHARPE RATIO

In [52]:
SHARPE_TCS = (TCS_return - 0.07365)/(security_returns["TCS.BO"].std() * 250 ** 0.5)
SHARPE_TCS

0.2698065551457152

In [53]:
SHARPE_RELIANCE = (RELIANCE_return - 0.07365)/(security_returns["RELIANCE.BO"].std() * 250 ** 0.5)
SHARPE_RELIANCE

0.3818559930965873