In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [4]:
tickers = ["TCS.BO","RELIANCE.BO","SBIN.BO","MRF.BO","ITC.BO"]

data = pd.DataFrame()

for i in tickers:
    data[i] = yf.download(i, start = "2015-01-01")['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [5]:
data

                 TCS.BO  RELIANCE.BO     SBIN.BO         MRF.BO      ITC.BO
Date
2015-01-01  1080.228027   415.979248  300.182526   37723.796875  225.672287
2015-01-02  1089.829834   414.831604  301.425507   37908.351562  226.410080
2015-01-05  1075.861450   410.850037  298.891693   38215.394531  227.363068
2015-01-06  1037.136597   391.644897  286.796448   37207.406250  221.706650
2015-01-07  1024.525024   400.685394  287.178894   37137.968750  217.372131
...                 ...          ...         ...            ...         ...
2024-01-31  3814.750000  2853.199951  640.650024  142505.046875  441.450012
2024-02-01  3851.449951  2852.699951  647.849976  142734.843750  442.850006
2024-02-02  3966.350098  2914.750000  650.400024  141394.843750  440.200012
2024-02-05  3972.750000  2877.050049  643.099976  141522.953125  438.049988
2024-02-06  4133.450195  2856.800049  650.900024  143354.000000  431.399994

[2226 rows x 5 columns]

In [8]:
data_returns = np.log(data/data.shift(1))

In [9]:
data_returns

              TCS.BO  RELIANCE.BO   SBIN.BO    MRF.BO    ITC.BO
Date
2015-01-01       NaN          NaN       NaN       NaN       NaN
2015-01-02  0.008849    -0.002763  0.004132  0.004880  0.003264
2015-01-05 -0.012900    -0.009644 -0.008442  0.008067  0.004200
2015-01-06 -0.036658    -0.047873 -0.041309 -0.026731 -0.025193
2015-01-07 -0.012235     0.022821  0.001333 -0.001868 -0.019744
...              ...          ...       ...       ...       ...
2024-01-31  0.004111     0.013532  0.022175  0.012581  0.007846
2024-02-01  0.009575    -0.000175  0.011176  0.001611  0.003166
2024-02-02  0.029397     0.021518  0.003928 -0.009432 -0.006002
2024-02-05  0.001612    -0.013019 -0.011287  0.000906 -0.004896
2024-02-06  0.039654    -0.007063  0.012056  0.012855 -0.015297

[2226 rows x 5 columns]

# TCS

In [10]:
data_returns["TCS.BO"].mean() * 250

0.150779809137451

In [12]:
print (str(round((data_returns["TCS.BO"].mean() * 250), 5) * 100) + " %")

15.078 %

In [14]:
data_returns["TCS.BO"].std() * 250 ** 0.5

0.23723974788713775

In [15]:
print (str(round((data_returns["TCS.BO"].std() * 250 ** 0.5), 5) * 100) + " %")

23.724 %

# RELIANCE

In [16]:
data_returns["RELIANCE.BO"].mean() * 250

0.22366095874356676

In [17]:
print (str(round((data_returns["RELIANCE.BO"].mean() * 250), 5) * 100) + " %")

22.366 %

In [18]:
data_returns["RELIANCE.BO"].std() * 250 ** 0.5

0.28279560612030946

In [19]:
print (str(round((data_returns["RELIANCE.BO"].std() * 250 ** 0.5), 5) * 100) + " %")

28.28 %

# SBI

In [21]:
data_returns["SBIN.BO"].mean() * 250

0.09608150629902264

In [22]:
print (str(round((data_returns["SBIN.BO"].mean() * 250), 5) * 100) + " %")

9.608 %

In [23]:
data_returns["SBIN.BO"].std() * 250 ** 0.5

0.3368576180121475

In [24]:
print (str(round((data_returns["SBIN.BO"].std() * 250 ** 0.5), 5) * 100) + " %")

33.686 %

# MRF

In [25]:
data_returns["MRF.BO"].mean() * 250

0.1542244871919517

In [31]:
print (str(round((data_returns["MRF.BO"].mean() * 250), 4) * 100) + " %")

15.42 %

In [32]:
data_returns["MRF.BO"].std() * 250 ** 0.5

0.2658089533415163

In [40]:
print (str(round((data_returns["MRF.BO"].std() * 250 ** 0.5), 5) * 100) + " %")

26.581 %

# ITC

In [34]:
data_returns["ITC.BO"].mean() * 250

0.07669262267331949

In [37]:
print (str(round((data_returns["ITC.BO"].mean() * 250), 5) * 100) + " %")

7.669 %

In [38]:
data_returns["ITC.BO"].std() * 250 ** 0.5

0.2568912785203332

In [48]:
print (str(round((data_returns["ITC.BO"].std() * 250 ** 0.5), 5) * 100) + " %")

25.689 %

# VARIANCE

In [50]:
TCS_var = data_returns["TCS.BO"].var() * 250
TCS_var

0.05628269797755268

In [51]:
RELIANCE_var = data_returns["RELIANCE.BO"].var() * 250
RELIANCE_var

0.07997335484095323

In [52]:
SBI_var = data_returns["SBIN.BO"].var() * 250
SBI_var

0.11347305481281783

In [53]:
MRF_var = data_returns["MRF.BO"].var() * 250
MRF_var

0.07065439967651238

In [55]:
ITC_var = data_returns["ITC.BO"].var() * 250
ITC_var

0.06599312897981141

# COVARIANCE

In [65]:
cov_matrix = data_returns.cov() * 250
cov_matrix

               TCS.BO  RELIANCE.BO   SBIN.BO    MRF.BO    ITC.BO
TCS.BO       0.056283     0.018437  0.015040  0.011360  0.010912
RELIANCE.BO  0.018437     0.079973  0.033928  0.026176  0.017504
SBIN.BO      0.015040     0.033928  0.113473  0.035056  0.028572
MRF.BO       0.011360     0.026176  0.035056  0.070654  0.016462
ITC.BO       0.010912     0.017504  0.028572  0.016462  0.065993

# CORRELATION

In [59]:
corr_matrix = data_returns.corr() 
corr_matrix

               TCS.BO  RELIANCE.BO   SBIN.BO    MRF.BO    ITC.BO
TCS.BO       1.000000     0.274860  0.188437  0.180180  0.179276
RELIANCE.BO  0.274860     1.000000  0.356046  0.348226  0.240866
SBIN.BO      0.188437     0.356046  1.000000  0.391341  0.330171
MRF.BO       0.180180     0.348226  0.391341  1.000000  0.240974
ITC.BO       0.179276     0.240866  0.330171  0.240974  1.000000

# CALCULATING PORTFOLIO RISK

In [60]:
weights = np.array([0.2,0.2,0.2,0.2,0.2])

# PORTFOLIO VARIANCE

In [68]:
Portfolio_var = np.dot(weights.T, np.dot(data_returns.cov() * 250, weights))
Portfolio_var

0.03253081132183978

In [71]:
print (str(round(Portfolio_var,5) *100) + " %")

3.253 %

# PORTFOLIO VOLATILITY

In [70]:
Portfolio_vol = np.dot(weights.T, np.dot(data_returns.cov() * 250, weights)) ** 0.5
Portfolio_vol

0.18036299876038814

In [76]:
print (str(round(Portfolio_vol, 4) *100) + " %")

18.04 %

# DIVERSIFIABLE RISK (PORTFOLIO VARIANCE - WEGHTED ANNUAL VARIANCE)

In [77]:
weights

array([0.2, 0.2, 0.2, 0.2, 0.2])

In [82]:
Diversified_Risk = Portfolio_var - (weights[0] ** 2 * TCS_var) -(weights[1] ** 2 * RELIANCE_var) - (weights[2] ** 2 * SBI_var) - (weights[3] ** 2 * MRF_var) - (weights[4] ** 2 * ITC_var)
Diversified_Risk

0.01707574587033387

In [86]:
print (str(round((Diversified_Risk), 4) * 100) + " %")

1.71 %

# NON-DIVERSIFIABLE RISK

In [89]:
NonDiversifiable_Risk = Portfolio_var - Diversified_Risk
NonDiversifiable_Risk

0.015455065451505906

In [90]:
print(str(round((NonDiversifiable_Risk),5)*100) + " %")

1.546 %